* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav-container {
  max-width: 120rem;
  margin: 0 auto;
}



.container {
  max-width: 120rem;
  margin: 0 auto;
}
section {
  border-bottom: 1px solid;
}

nav {
  width: 100%;
  border: solid 1px;
  max-width: 120rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
span {
  display: block;
}
h1 {
  font-size: 16.5rem;
  text-align: center;
}




}

h4 {
  font-size: 1.75rem;
}
.section-border {
  border-bottom: 1px solid;
}
img {
  width: 100%;
}

body{

font-family: Montserrat;


}





/* ........................................... */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}





.logo-wrapper,
.nav-menu-wrapper {
  padding: 1rem;
}
.logo-wrapper {
  border-right: 1px solid;
}
.nav-menu-wrapper {
  border-left: 1px solid;
  padding: 0.5rem;
}
.nav-menu-wrapper {
  width: 60px;
}
.link-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}
/* ............................ */
.heading-wrapper {
  padding-bottom: 2rem;
}




.sub-heading-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;

}
/* ................................. */

.cards-wrapper {
 display: grid;
 grid-template-columns: 8fr 4fr;



  
}




.card-right-wrapper,
.card-left-wrapper {
  width: 100%;

}

.small-card {
  width: 100%;
  padding: 2.5rem;
  padding-bottom: 0;
}

 


.card{
 padding: 2rem ;
 padding-bottom: 0;
 border-right: 1px solid black ;
 
}

.card-wrapper{
 display: grid;
 grid-template-columns: repeat(3, 1fr);




}



.news-letter-wrapper{
  text-align: center;


}




.border-left{
 border-left: 1px solid;



}


.border-right-left{
 border-right: 1px solid;
 border-left: 1px solid;



}



.items-wrapper{
 display: grid;
 overflow: hidden;
 grid-template-columns: repeat(4, 340px);



}



.about-wrapper{
 text-align: center;


}


.footer-wrapper{
 display: flex;
 padding: 0rem 1rem;


}



.footer-items-wrappers{
 padding: 0rem 1rem;


}


.footer-items-wrapper{
 border-right: 1px solid black ;
 padding: 0rem 1rem;

}


.border-B-1{
  border-bottom: 1px solid;
}

.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}



.space-xl{
 padding: 2.5rem;



}



.space-l{
 padding: 1rem;


}




.space-xxl{
 padding: 5rem;


}



.space-xs{
 padding: 0.1rem;



}



.space-s{
 padding: 0.4rem;



}





.line{
 text-decoration: underline;
 color: black;

}


@media only screen and (max-width: 1542px) {
  nav {
  


 }

}



@media only screen and (max-width: 1524px) {
  nav {
  


 }

}



@media only screen and (max-width: 1510px) {
  nav {
  


 }

}


@media only screen and (max-width: 800px) {
  nav {
  height: 50px;


 }

}



@media only screen and (max-width: 660px) {
  nav {
  height: 50px;


 }

}


 @media only screen and (max-width: 625px) {
  nav {
  height: 50px;


  }
 
  }



   @media only screen and (max-width: 600px) {
   nav {
   height: 50px;


   }
 
  }
 




@media only screen and (max-width: 800px) {
  .link-wrapper {
   font-size: 0.9rem;
   


}

}


 a {
  
   


}





@media only screen and (max-width: 390px) {
 a {
  display:none;
   


}


}
 




@media only screen and (max-width: 800px) {
  .nav-menu-wrapper {
   width: 50px;
   height: 50px;
   border-left: 1px solid;



  }

  }




@media only screen and (max-width: 800px) {
  .logo-wrapper {
   width: 50px;

   padding-left:  0.4rem;
   font-size: 0.7rem
  



  }
  }






@media only screen and (max-width: 1524px) {
  h1 {
    font-size: 15rem;
  }
}


@media only screen and (max-width: 1380px) {
  h1 {
    font-size: 14rem;
  }
}


@media only screen and (max-width: 1290px) {
  h1 {
    font-size: 13rem;
  }
}
 


 @media only screen and (max-width: 1200px) {
  h1 {
    font-size: 11rem;
  }
}
 


 @media only screen and (max-width: 1020px) {
  h1 {
    font-size: 9rem;
  }
}
 

 @media only screen and (max-width: 840px) {
  h1 {
    font-size: 7rem;
  }
}
 

 @media only screen and (max-width: 390px) {
  h1 {
    font-size: 4rem;
  }
}
 



  /*.....................*/




@media only screen and (max-width: 630px) {
  .sub-heading-wrapper {
    font-size: 0.3rem;
  }
}




@media only screen and (max-width: 800px) {
  .cards-wrapper{
     display: grid;
     grid-template-columns: 100%; 
     grid-template-rows: ;

  }

  .small-card{
   
  

   }


  }

 @media only screen and (max-width: 800px) {
  .card-right-wrapper{
     display: grid;

     
     }


  @media only screen and (max-width: 800px) {
  .card{
   border-right: none;
   border-bottom: 1px solid black;

   }

  
   
   }






  @media only screen and (max-width: 800px) {
     .news-letter-wrapper{
      display: grid;
      grid-gap: 0.2rem;
      font-size: 0.9rem;

 

     }


     }
  





  @media only screen and (max-width: 800px) {
   .space-xl{
    padding: 1.5rem 0rem;


    } 
   
    }
   






   @media only screen and (max-width: 800px) {
   
     .about-wrapper{
      text-align: center; 
      padding: 0rem 10rem 0rem;
      font-size: 0.9rem;


     }


     }
  





  @media only screen and (max-width: 800px) {
   .space-xxl{
    padding: 2rem 0rem;


    } 
   
    }



 @media only screen and (max-width: 800px) {
   .items-wrapper{
     display: grid;
     grid-template-columns: 100%; 
     overflow: none;


  }

   
  }


@media only screen and (max-width: 800px) {
   .card-wrapper{
     display: grid;
     border-right: none;
     grid-template-columns: 100%; 
     grid-template-rows: ;
     

  }

  .small-card{
   border-right: none;

  

  }




  }





  @media screen and (max-width: 800px) {
  .footer-wrapper{
   width: 640px;
   padding: 0;

 
  }

  }
  